[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/EmanuelCN/KernelSU
[submodule "drivers/net/wireless/realtek/rtl8188eus"]
	path = drivers/net/wireless/realtek/rtl8188eus
	url = https://github.com/Migu-Kernel/rtl8188_419
